/*
@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}
*/
* {
  text-align: center;
}

body {
  background-image: url(background.png);
}

.app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
  grid-template-areas:
    "header"
    "main"
}

.tab {
  grid-area: header;
  align-items: stretch;
}

.page {
  grid-area: main;
  align-items: stretch;
  background-image: url(lined_paper.png);
}

.pick {
  
}