* {
  box-sizing: border-box;
  margin: 0;
  /* border: 0; */
  padding: 0;
  text-align: center;
  
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  line-height:100%;
  text-shadow: 1px 0px 1px #777b;
}

body {
  background-image: url(images/background.png);
}

.app {
  --gap: 5px;
  --min: 45px;
  
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-auto-rows: minmax(var(--min), max-content);
  grid-auto-flow: row dense;
  grid-template-rows: var(--min) repeat(auto-fit, minmax(var(--min), 1fr));
  grid-gap: 2px;
  gap: 2px;
}

.tabs {
  grid-row: 1;
  top: 0;
  position: sticky;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 1px;
  grid-gap: 1px;
  gap: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
}
.tab {
  flex-grow: 1;
  min-height: var(--min);
  min-width: var(--min);
  background-color: rgba(192,192,192, 1);
  outline: 1px solid black;
  display: grid;
  align-content: center;
  -webkit-user-select: none; /* Safari, Chrome */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE */
  user-select: none; /* CSS3 */
  font-size: 17px;
  text-shadow: none;
  z-index: 2;
}
.tab i {
  text-shadow: none;
}
.tab:hover {
  background-color: rgba(224,224,224, 1);
  cursor: pointer;
}
.tab:active {
  background-color: rgba(96,96,96, 1);
  filter: invert(100%);
}
.tab[name=account] {
  max-width: calc(var(--min) * 2);
}

@keyframes expanding-page {
  from {
    margin-top: 100vh;
  }
  to {
  }
}

.page {
  grid-row: 2;
  overflow-x: auto;
  overflow-y: scroll;
  width: 100vw;
  display: grid;
  grid-auto-rows: max-content;
  align-content:start;
  grid-gap: var(--gap);
  gap: var(--gap);
  padding: var(--gap);
}
.page:not(.expanded) {
  display: none;
}
.page.expanded {
  animation: expanding-page 0.4s ease-out;
}

.pick {
  min-height: var(--min);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  background-image: url(images/lined_paper.png);
  text-align: left;
  padding: 15px;
}
.pick:hover {
  cursor: pointer;
}

/* Collapse Tabs into single header button, Hide page while menu open, Images on separate lines */
@media (min-width: 0px) and (max-width: 400px) {
  .tabs {
    flex-direction: column;
  }
  #menu.expanded {
    display: none;
  }
  #menu:not(.expanded) ~ .tab, #menu:not(.expanded) ~ #collapse {
    display: none;
  }
  .tab[name=account] {
    max-width: inherit;
  }
  .tab.expanded:not(#menu) {
    border: 2px solid black;
  }
  #menu.expanded ~ #collapse {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #0009;
    z-index: 1;
  }
}

/* Header Tabs, No wasted space */
@media (min-width: 400px) and (max-width: 961px) {
  #menu, #collapse  {
    display: none;
  }
  .tab.expanded:not(#menu) {
    outline: unset;
    margin: -1px;
    border: 3px solid black;
    border-bottom-width: 0;
  }
}

/* Header Tabs, Show Portraits Left of Text, Extra Spacing */
@media (min-width: 961px) {
  #menu, #collapse  {
    display: none;
  }
  .tab.expanded:not(#menu) {
    outline: unset;
    margin: -1px;
    border: 3px solid black;
    border-bottom-width: 0;
  }
}

/* Fix scrollbar removing padding-bottom */
@supports (-moz-appearance: none) {
  .page::after {
    content: "";
    height: 1px;
    margin: calc(var(--gap) - var(--gap)); /* padding - gap */
  }
}

/*
@media (min-resolution: 2dppx) {
  .image {
    background-image: url(image@2x.png);
  }
}
*/